*{



}

#GOOFIE_FRUITY_FUNPANTS{

    border: 1px solid black;
    width: 450px;
    height: 450px;
    position: relative;

}

#Won{                  /*positioning the you won div*/
    width: 450px;
    height: 450px;
    position: relative;

    text-align: center;
    display: table-cell;/*center the you won rectangle*/
    vertical-align: middle;


}
#bodys{

}

header{
    margin:30px;
}